.about-me-container {
    background-color: rgba(212, 148, 207, 0.473);
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
}

.bkgd-container-about {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.about-me-content-container {
  position: absolute;
  max-width:65vw;
  top: 28vh;
  left: 30vw;
}

.about-me-content {
  font-size: 22px;
  color:rgba(12, 4, 6, 0.795);
}

.back-home-link {
  position: absolute;
  top: 8vh;
  left: 68vw;
  color: #583a2375;
  font-size: 40px;
  text-decoration: none;
}

.embalming-link {
  color: #583a23b0;
  font-size: 27px;
  text-decoration: none;
}

.App-logo {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.1;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @media screen and (max-width: 600px) {
    .about-me-container {
      height: 120vh;
  }

    .about-animation {
      display: none;
    }
}