.collapsible {
    /* margin: 5px; */
    padding: 10px;
    max-width: 80%;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsible-content {
    text-align: center;
    font-size: 19px;
    right: 3vw;
}

.active, .collapsible:hover {
    background-color: rgba(54, 197, 118, 0.384);
    opacity: 0.9;
    cursor: pointer;
    background-clip: content-box;
    box-shadow: 0 0.5em 1em -0.1125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  }

  @media (prefers-reduced-motion: no-preference) {
    .header:hover {
      animation: bkgd-img-spin 2s linear;
    }
  }
