.contact-container {
  background-color: rgba(212, 148, 207, 0.411);
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.contact-form-container {
    position: absolute;
    right: 33vw;
    top: 10vh;
}

.contact-field {
  height: 3vh;
  width: 15vw;
  margin: 3px;
  background-color: rgba(54, 197, 118, 0.226);
  padding: 0 2vw;
}

#contact-email {
  text-align: right;
}

input:focus {
  outline: rgb(66, 50, 53);
}

textarea:focus {
  outline: rgb(66, 50, 53);
}

.contact-form-textbox {
  width: 25vw;
  height: 10vh;
  margin: 5px;
  background-color: rgba(54, 197, 118, 0.219);
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.contact-form-button {
  background-color: rgba(54, 197, 118, 0.219);
  padding: 5px 15px;
  margin-top: 7px;
}

.bkgd-img-contact {
    height: 100%;
    width: 100%;
    opacity: 0.1;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .bkgd-img-contact {
      animation: bkgd-img-spin infinite 20s linear;
    }
  }

  @keyframes bkgd-img-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }