.home-container {
    background-color: rgba(212, 148, 207, 0.411);
    height: 160vh;
    width: 100vw;
    display: flex;
    position: absolute;
}

.bkgd-container {
  display: flex;
  position: relative;
  height: 140vh;
  width: 100vw;
}

.App-logo {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    overflow: hidden;
    opacity: 0.1;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }