.home-container {
    background-color: rgba(212, 148, 207, 0.411);
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
  }
  
  .bkgd-container {
  overflow: hidden;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.about-me-link {
  position: absolute;
  top: 60vh;
  left: 70vw;
  color: #352214b0;
  font-size: 38px;
  text-decoration: none;
}

.bkgd-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.1;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .bkgd-img {
      animation: bkgd-img-spin infinite 20s linear;
    }
  }

  @keyframes bkgd-img-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }