.navbar-container {
    height: 3vh;
    padding: 15px;
    background-color: rgba(54, 197, 118, 0.384);
    box-shadow: 0 0.5em 1em -0.1125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.navbar-link {
    padding-right: 5vw;
    margin: 0 auto;
    color: rgba(119, 36, 115, 0.582);
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    float: right;
    text-decoration: none;
}

a:hover {
    background: transparent;
    color: white;
    text-decoration: none;
  }