.projects-container {
    background-color: rgba(212, 148, 207, 0.411);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
}

.project-card {
    height: 33vh;
    width: 40vw;
    margin-top: 3vh;
    padding: 3px;
    position: relative;
}