.projects-container {
    background-color: rgba(212, 148, 207, 0.411);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.project-card {
    min-height: 56vh;
    width: 44vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
    padding: 3px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgba(190, 146, 187, 0.212);
    box-shadow: 0 0.5em 1em -0.1125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.project-img-a {
    height: 340px;
    width: 410px;
}

.project-img {
    width: 100%;
    height: 100%;
}

.collapsible {
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media screen and (max-width: 900px) {
    .project-card {
        min-height: 65vh;
        width: 85vw;
        margin-top: 7vh;
        padding: 3px;
        position: relative;
    }
}

@media screen and (max-width: 650px) {
    .project-card {
        min-height: 45vh;
        width: 85vw;
        margin-top: 7vh;
        padding: 3px;
        position: relative;
    }

    .project-img-a {
        height: 250px;
        width: 300px;
    }
}